@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
 font-family: Arial, Helvetica, sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 background-color: #DEB887;
}
.border{
		border-style: solid;
}

h1,h2,h3,h4,h5,h6 {
 font-weight: bold;
}

h1 {
 font-size: 2.5em;
 line-height: 3em;
 display: flex;
 flex-wrap: wrap;
 justify-content:center;


}
.title{
 display: flex;
 flex-wrap: wrap;
 justify-content:center;
 font-size: 2em;
 line-height: 1em;
}

h2 {
 font-size: 2em;
 line-height: 3em;
}

h3 {
 font-size: 1.5em;
 line-height: 2.5em;
}

h4 {
 font-size: 2em;
 line-height: 2em;
}

h5 {
 font-size: 0.8em;
 line-height: 1.5em;
}

h6 {
 font-size: 0.6;
 line-height: 1em;
}
/*text positioning*/
.centeredText{
	display: flex;
 	flex-wrap: wrap;
 	justify-content:center;
}
.form{
	font-size: 2em;
    line-height: 3em;
}


/*Picture Styles*/
h2{
	text-align: center;
}

/*basic nav styles*/
.active {
	background-color: darkgray;
}


.masthead {
	background-color: black;

}

.nav-bar {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
	
.nav li {	
	overflow: auto;
}
	
.nav li:hover {
	background-color: grey;
}
	
.nav a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-top: 0.8em;
	width: 8em;
	height: 2.2em;
}
	
.nav a:hover, nav a:visited, nav a:focus {
	color: white;
}
	

/*Putting the footer at the bottom right of the page*/
.end{
   position: absolute; bottom: 0%; right: 0%;
}
.productsEnd{
	position: relative; 
	text-align: right;
	
}
/* contact styles for small border */

.contact {
 margin-right: 40%;
}



/* layout styles for column widths*/
.container {
    float:left;
    width:100%;
}
.col-1 {
    float:left;
    width:33.33%;
}
.col-2 {
    float:left;
    width:33.33%;
	
}
.col-3 {
    float:left;
    width:33.33%;
}
.col1{
	float: left;
	width: 20%;
}
.col2{
	float: left;
	width: 30%;
}